# =============================================
#   EDUVIX.ID — Environment Variables
#   Copy file ini jadi .env dan isi valuenya
# =============================================

# Server
PORT=3000

# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=password_kamu
DB_NAME=eduvix

# JWT Secret (ganti dengan string random panjang!)
JWT_SECRET=eduvix_super_secret_key_ganti_ini_123456
